{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

    {% for product in products %}

<div class="card text-white bg-primary m-3 mt-5 align-items-center col-3 text-center" style="max-width: 20rem;">
    <div class="card-header text-uppercase">{{ product.name }}</div>
    <div class="card-body">
        <h4 class="card-title"> Prix : {{ product.brand }} €</h4>
        {% for picture in product.pictures|slice(0,1) %}
            <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" alt="">
        {% endfor %}
    </div>
</div>

    {% endfor %}
{% endblock %}
